<div class="popup" id="popup">
  <div class="popup-content">
    <span class="close" id="close" (click)="closePopup()">&times;</span>
    <h2 *ngIf="isSucess">SUCCESS</h2>
    <p *ngIf="isNotSucess" class="error-msg">
      No changes were made. Your data remains unchanged.
    </p>
    <ng-container *ngIf="selectedData">
      <ng-container *ngIf="!isEditMode; else editModeTemplate">
        <div *ngFor="let key of getObjectKeys(selectedData)">
          <p>
            <strong>{{ key }}:</strong> {{ selectedData[key] }}
          </p>
        </div>
        <button (click)="toggleEditMode()">Edit</button>
      </ng-container>

      <ng-template #editModeTemplate>
        <form (submit)="saveChanges()">
          <div *ngFor="let key of getObjectKeys(selectedData)">
            <label>{{ key }}</label>
            <input
              type="text"
              [(ngModel)]="selectedData[key]"
              name="{{ key }}"
            />
          </div>
          <button type="button" (click)="cancelEdit()">Cancel</button>
          <button type="submit">Save Changes</button>
        </form>
      </ng-template>
    </ng-container>
  </div>
</div>
