footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: #0056b3;
    color: white;
    margin: 0px -8px;
  }
  